.App {
  text-align: center;
}

.Nav{
  background-color: rgb(232, 133, 12);
  padding-top: 3%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
}

.dashboard{
  background-color: antiquewhite;
}